{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container" style="min-height: 500px;">
    <div class="row">
        <div class="col-mr-12 col-md-4 mt-4">
          <h3>Payment Details</h3>
          <form method="POST" action="/checkout/">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary">Pay</button>
          </form>
            <!-- <form>
            <div class="form-group mt-4">
              <label>CARD NUMBER</label>
              <div class="input-group">
                  <input type="text" name="cardnumber" pattern = "[0-9]{16}" class="form-control required" placeholder="Valid Card Number"/>
              </div>
            </div>
        </form>
          <div class="form-group">
              <label>EXPIRY DATE</label>
            <input type="text" name = "MM" pattern = "1[0-2]|0[1-9]" class="form-control" placeholder="MM" required />
            <input type="text" name = "YY" class="form-control" placeholder="YYYY" required />
          </div>
            <div class="form-group">
            <label>CVV</label>
            <input type="password" name="CVV" class="form-control" placeholder="CVV" required /> </div>
             <button type="submit" class="btn btn-primary">Pay</button> -->
          </div>
        </div>
    </div>
</div>
{% endblock %}
